@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif !important;
}
.mobileContent {
    width:100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    bottom: 0;
    left:0;
    z-index: 9999;
    color: white;
    display: none;
}
.mobileContent ul li {
    list-style-type: none;
    margin-bottom: 20px;
}
.mobileContent ul li a {
    color: white;
    text-decoration: none;
}
.overall-content {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    overflow-x: hidden;
}
#profile-icon {
    margin-left: auto;
    margin-right: 30px;
    /* margin-top: 1px; */
    font-size: 22px;
}
#subDiv1 {
    border: 1px solid rgb(1, 43, 153);
    width: 100%;
    height: 30px;
    background-color: rgb(1, 43, 153);
    color: white;
    padding-left: 10px;
    display: flex;
}
#subDiv1 a {
    color: white;
    text-decoration: none;
}
#subDiv1 p {
    margin-left: 20px;
    margin-top: 2px;
}
#navbar {
    /* border: 1px solid red; */
    height: 40px;
    width: 85%;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
}
#search {
    border: 1px solid rgb(1, 43, 153);
    background-color: rgb(1, 43, 153);
    width: 15%;
}
#box {
    border: 1px solid rgb(1, 43, 153);
    width: 60%
}
#box input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}
::placeholder{
    font-size: 14px;
}
#flex1 {
    display: flex;
}
#div2 {
    margin-top: 2px;
}
#navbar {
    display: flex;
}
#navbar ul {
    display: flex;
    margin-top: 8px;
    width: 50%;
}
#navbar select {
    color: rgb(229, 254, 1);
    background-color: rgb(1, 43, 153);
    margin-left: 100px;
    border-radius: 2px;
    padding-left: 10px;
}
#navbar ul li {
    list-style: none;
    margin-right: 15px;
}
#navbar ul li a {
    text-decoration: none;
    color: rgb(1, 43, 153);
}
#navbar ul li a:hover {
    text-decoration: underline;
    color: lightblue;
}
#search select {
    width: 85%;
    height: 38px;
    color: rgb(229, 254, 1);
    background-color: rgb(1, 43, 153);
}
#search > i {
    color: rgb(229, 254, 1);
}
#div3 {
    /* border: 1px solid red; */
    height: auto;
    margin-top: 2px;
}
#menuList {
    overflow: hidden;
    transition: 1.0s;
}
#dashboard {
    border: 1px solid rgb(245, 245, 245);
    height: 850px;
    background-color: rgb(245, 245, 245);
}
#hide {
    display: flex;
    border: 1px solid rgb(1, 43, 153);
    padding-top: 7px;
    /* padding-bottom: 5px; */
    background-color: rgb(1, 43, 153);
    margin-top: 5px;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 5px;
    height: 38px;
}
#hide p a {
    color: white;
    text-decoration: none;
}
#hide > i {
    color: white;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 5px;
}
#user {
    border: 1px solid black;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
#dashboard ul {
    list-style: none;
    margin-left: -25px;
    padding-right: 5px;
}
#dashboard ul li a{
    text-decoration: none;
    /* color: black; */
    font-size: 13px;
}
#flex2 {
    display: flex;
    border: 1px solid rgb(1, 43, 153);
    padding-top: 7px;
    padding-bottom: 5px;
    background-color: rgb(1, 43, 153);
    margin-top: 5px;
    border-radius: 2px;
}
#flex2 li a {
    color: white;
}
#subscription {
    border: 1px solid white;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
#subscription a {
    color: black;
}
#subscription li a > i {
    margin-right: 10px;
}
#profile {
    border: 1px solid white;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
#profile a {
    color: rgb(1, 43, 153);
}
#profile li a > i {
    margin-right: 10px;
}
#logout {
    border: 1px solid white;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
#logout a {
    color: black;
}
#logout li a > i {
    margin-right: 10px;
}
#welcome {
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
    height: auto;
    margin-left: -25px;
}
#line {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 5px;
}
#space {
    border: 1px solid white;
    background-color: white;
    width: 100%;
    height: 30px;
}
#line1 {
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 10px;
}
#div3 {
    margin-top: 0px;
}
#welcome {
    padding-left: 1%;
}
#name {
    border: 1px solid rgb(1, 43, 153);
    background-color: rgb(1, 43, 153);
    color: white;
    width: 100%;
    margin-top: 20px;
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#weekly p {
    border-bottom: 2px solid rgb(204, 204, 204);
    color: rgb(1, 43, 153);
    padding-left: 2%;
    margin-top: 20px;
}
#part1 {
    border: 1px solid rgb(245, 245, 245);
    height: 155px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
}
#part2 {
    border: 1px solid rgb(245, 245, 245);
    height: 195px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
}
#subPart1 {
    border: 1px solid white;
    width: 97%;
    height: auto;
    background-color: white;
    margin-top: 10px;
    margin-left: 1.5%;
}
#subPart1 div#part1774 {
    color: rgb(1, 43, 153);
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 2px solid rgba(1, 43, 153, 0.1);
    display: flex;
    margin-bottom: 15px;
}
#subPart1 div p.date1 {
    border: 1px solid rgb(1, 43, 153);
    background-color: rgb(1, 43, 153);
    color: rgb(229, 254, 1);
    padding: 2px;
    margin-left: auto;
    margin-bottom: 5px;
    padding-right: 10px;
    margin-right: 20px;
}
#amudaFlex {
    display: flex;
}
#amuda {
    width: 50%;
    padding-left: 1%;
    padding-right: 20px;
}
#amuda div {
    display: flex;
}
#amuda1 {
    width: 50%;
    padding-left: 1%;
    padding-right: 20px;
}
#amuda1 div {
    display: flex;
}
#amuda2 {
    width: 50%;
    padding-left: 1%;
    padding-right: 20px;
}
#amuda2 div {
    display: flex;
}
#amuda3 {
    width: 50%;
    padding-left: 1%;
    padding-right: 20px;
}
#amuda3 div {
    display: flex;
}
#amuda p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#amuda1 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#amuda2 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#amuda3 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#amuda div  i {
    color: green;
    margin-left: auto;
}
#amuda1 div i {
    color: green;
    margin-left: auto;
}
#amuda2 div i {
    color: green;
    margin-left: auto;
}
#amuda3 div i {
    color: green;
    margin-left: auto;
}
#statoil {
    width: 50%;
    padding-right: 20px;
}
#statoil div {
    display: flex;
}
#statoil1 {
    width: 50%;
    padding-right: 20px;
}
#statoil1 div {
    display: flex;
}
#statoil2 {
    width: 50%;
    padding-right: 20px;
}
#statoil2 div {
    display: flex;
}
#statoil3 {
    width: 50%;
    padding-right: 20px;
}
#statoi3 div {
    display: flex;
}
#statoil p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#statoil1 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#statoil2 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#statoil3 p {
    color: rgb(1, 43, 153);
    font-size: 15px;
}
#statoil div i {
    color: green;
    margin-left: auto;
}
#statoil1 div i {
    color: green;
    margin-left: auto;
}
#statoil2 div i {
    color: green;
    margin-left: auto;
}
#statoil3 div i {
    color: green;
    margin-left: auto !important;
}
footer {
    border: 1px solid rgb(60, 60, 60);
    background-color: rgb(60, 60, 60);
    color: white;
    padding-top:20px;
    height: auto;
}
.details {

    margin-left: auto;
}
.details p {
    margin-right: 20px;
}
#flex2 {
    display: none;
}
#hideLast {
    display: none;
}
@media only screen and (min-width:321px) and (max-width:540px) {
    #dashboard {
        height: auto;
    }
    #search {
        display: none;
    }
    #box {
        display: none;
    }
    #profile-icon {
        margin-right: 10px;
    }
    #navbar ul#tab {
        display: none;
    }
    .menu-icon {
        display: block;
        margin-left: 20px;
    }
    #tab {
        overflow: hidden;
        transition: 1.0s;
    }
    #navbar ul {
        width: 100%;
    }
    #navbar select {
        margin-left: auto;
        margin-right: -50px;
    }
    #navbar {
        height: 55px;
    }
    #name {
        text-align: center;
    }
    #weekly p {
        padding-left: 10%;
    }
    #part1 #subPart1 #part1774 p.part1774 {
        padding-left: 5%;
    }
    #part2 #subPart1 #part1774 p.part1774 {
        padding-left: 5%;
    }
    #part1 #subPart1 #part1774 p.date1 {
        margin-right: 2%;
    }
    #part2 #subPart1 #part1774 p.date1 {
        margin-right: 2%;
    }
    #amudaFlex {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
    #amuda {
        width: 100%;
        padding-right: 0;
    }
    #statoil {
        width: 100%;
        padding-right: 0;
    }
    #part1 {
        height: auto;
    }
    /* #amuda p > i {
        display: none;
    }
    #statoil p > i {
        display: none;
    } */
    
    #amuda1 {
        width: 100%;
        padding-right: 0;
    }
    #statoil1 {
        width: 100%;
        padding-right: 0;
    }
    #part2 {
        height: auto;
    }
    /* #amuda1 p > i {
        display: none;
    }
    #statoil1 p > i {
        display: none;
    } */

    #amuda2 {
        width: 100%;
        padding-right: 0;
    }
    #statoil2 {
        width: 100%;
        padding-right: 0;
    }
    /* #amuda2 p > i {
        display: none;
    }
    #statoil2 p > i {
        display: none;
    } */

    #amuda3 {
        width: 100%;
        padding-right: 0;
    }
    #statoil3 {
        width: 100%;
        padding-right: 0;
    }
    /* #amuda3 p > i {
        display: none;
    }
    #statoil3 p > i {
        display: none;
    } */
    footer {
        height: auto;
        padding-left: 5%;
        padding-right: 1%;
        font-size: 12px;
    }
    #showLast {
        display: none;
    }
    #hideLast {
        display: block;
    }
}
@media only screen and (min-width:541px) and (max-width:720px) {
    #dashboard {
        height: auto;
    }
    #search {
        display: none;
    }
    #box {
        display: none;
    }
    #profile-icon {
        margin-right: 10px;
    }
    #navbar ul {
        width: 100%;
    }
    #navbar select {
        margin-left: auto;
        margin-right: -50px;
    }
    #navbar {
        height: 55px;
    }
    #name {
        text-align: center;
    }
    #weekly p {
        padding-left: 10%;
    }
    #part1 #subPart1 #part1774 p.part1774 {
        padding-left: 5%;
    }
    #part2 #subPart1 #part1774 p.part1774 {
        padding-left: 5%;
    }
    #part1 #subPart1 #part1774 p.date1 {
        margin-right: 2%;
    }
    #part2 #subPart1 #part1774 p.date1 {
        margin-right: 2%;
    }
    #amudaFlex {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
    #amuda {
        width: 100%;
    }
    #statoil {
        width: 100%;
    }
    #part1 {
        height: auto;
    }
    #amuda p > i {
        display: none;
    }
    #statoil p > i {
        display: none;
    }
    
    #amuda1 {
        width: 100%;
    }
    #statoil1 {
        width: 100%;
    }
    #part2 {
        height: auto;
    }
    #amuda1 p > i {
        display: none;
    }
    #statoil1 p > i {
        display: none;
    }

    #amuda2 {
        width: 100%;
    }
    #statoil2 {
        width: 100%;
    }
    #amuda2 p > i {
        display: none;
    }
    #statoil2 p > i {
        display: none;
    }

    #amuda3 {
        width: 100%;
    }
    #statoil3 {
        width: 100%;
    }
    #amuda3 p > i {
        display: none;
    }
    #statoil3 p > i {
        display: none;
    }
    #footer {
        height: auto;
        padding-left: 5%;
        padding-right: 1%;
    }
    #showLast {
        display: none;
    }
    #hideLast {
        display: block;
    }
}
@media only screen and (min-width:721px) and (max-width:767px) {
    #navbar ul {
        width: 100%;
    }
    #search select {
        width: 78%;
    }
    #navbar {
        height: 55px;
    }
    #box input {
        height: 55px;
    }
    #search select {
        height: 55px;
    }
    #dashboard {
        height: auto;
    }
    #amuda p > i {
        display: none;
    }
    #statoil p > i {
        display: none;
    }
    #amuda1 p > i {
        display: none;
    }
    #statoil1 p > i {
        display: none;
    }
    #amuda2 p > i {
        display: none;
    }
    #statoil2 p > i {
        display: none;
    }
    #amuda3 p > i {
        display: none;
    }
    #statoil3 p > i {
        display: none;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    #search select {
        width: 78%;
    }
    #navbar {
        height: 52px;
    }
    #hide p a {
        font-size: 10px;
    }
    #amuda p > i {
        display: none;
    }
    #statoil p > i {
        display: none;
    }
    #amuda1 p > i {
        display: none;
    }
    #statoil1 p > i {
        display: none;
    }
    #amuda2 p > i {
        display: none;
    }
    #statoil2 p > i {
        display: none;
    }
    #amuda3 p > i {
        display: none;
    }
    #statoil3 p > i {
        display: none;
    }
}